[submodule "AdventOfCode2019"]
	path = AdventOfCode2019
	url = git@github.com:mMosiur/AdventOfCode2019.git
[submodule "AdventOfCode2020"]
	path = AdventOfCode2020
	url = git@github.com:mMosiur/AdventOfCode2020.git
[submodule "AdventOfCode2021"]
	path = AdventOfCode2021
	url = git@github.com:mMosiur/AdventOfCode2021.git
[submodule "AdventOfCodeAbstractions"]
	path = AdventOfCodeAbstractions
	url = git@github.com:mMosiur/AdventOfCodeAbstractions.git
[submodule "AdventOfCodeDayTemplate"]
	path = AdventOfCodeDayTemplate
	url = git@github.com:mMosiur/AdventOfCodeDayTemplate.git
