[submodule "AdventOfCode2018"]
	path = Year2018
	url = git@github.com:mMosiur/AdventOfCode2018.git
[submodule "AdventOfCode2019"]
	path = Year2019
	url = git@github.com:mMosiur/AdventOfCode2019.git
[submodule "AdventOfCode2020"]
	path = Year2020
	url = git@github.com:mMosiur/AdventOfCode2020.git
[submodule "AdventOfCode2021"]
	path = Year2021
	url = git@github.com:mMosiur/AdventOfCode2021.git
[submodule "AdventOfCode2022"]
	path = Year2022
	url = git@github.com:mMosiur/AdventOfCode2022.git
[submodule "AdventOfCode2023"]
	path = Year2023
	url = git@github.com:mMosiur/AdventOfCode2023.git
[submodule "AdventOfCode2024"]
	path = Year2024
	url = git@github.com:mMosiur/AdventOfCode2024.git
[submodule "AdventOfCode2025"]
	path = Year2025
	url = git@github.com:mMosiur/AdventOfCode2025.git
[submodule "AdventOfCodeCommon"]
	path = Common
	url = git@github.com:mMosiur/AdventOfCodeCommon.git
[submodule "AdventOfCodeDayTemplate"]
	path = DayTemplate
	url = git@github.com:mMosiur/AdventOfCodeDayTemplate.git
